* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Smooth scroll transition */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f2025;
    color: #c4c3ca;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
}

/* REDES LATERALES */
#redes {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 100;
}

#redes a {
    display: block;
    margin-bottom: 20px;
}

/* ABOUT US */
.about-section {
    padding: 80px 20px;
    background: linear-gradient(180deg, hsla(0, 4%, 10%, 1) 12%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 100%, 58%, 1) 100%);
    color: #fff;
    position: relative;
}

.section-title {
    text-align: center; /* Alineación central */
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
    font-size: 2.5rem; /* Tamaño de fuente */
    margin-bottom: 20px; /* Espacio inferior */
}

.about-text {
    text-align: center; /* Centrar el texto */
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
    font-size: 1.2rem; /* Tamaño de fuente */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
}

.section-title.scrolled {
    color: #FFD43B; /* Color del texto al hacer scroll */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
    margin-bottom: 20px; /* Espacio entre las tarjetas y la imagen */
}

.about-section.show .cards-container {
    opacity: 1;
    transform: translateY(0);
}

.card {
    flex: 1;
    max-width: 400px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 30px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.card:hover {
    background-color: #555;
}

.card-icon {
    font-size: 2rem;
    color: #FFD43B;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1rem;
    color: #ccc;
}

/* Estilo para la foto con efecto parallax y opacidad */
.scroll-image {
    position: relative;
    background-image: url('/Assets/Panelada-Beige-LampRedonda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    height: 400px;
    opacity: 1;
    transition: opacity 0.3s;
}

.scroll-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Cambio de opacidad al hacer scroll */
.about-section.scrolled .scroll-image {
    opacity: 0.2;
}

.about-section.scrolled .scroll-image .scroll-image-text {
    opacity: 1;
}

.services-section {
    min-height: 100vh;
    background-color: #444;
}

/* Media queries */
@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }

    .cards-container {
        gap: 15px;
    }

    .card {
        padding: 10px;
    }

    .card-icon {
        font-size: 1.8rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

#contact {
    background-color: #c80808;
}

/* CSS SLIDER */
.slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #1a1818 10%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2 {
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .1s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.slider .list .item .content .read-more {
    margin-left: 424px;
    background-color: #eee5;
    color: #eee;
    border: 1px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.slider .list .item .content .read-more:hover {
    background-color: #eee;
    color: #1f2025;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
    cursor: pointer;
}


.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 0px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.thumbnail .item.active {
    filter: brightness(1.2);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

/* Estilos personalizados para cada imagen del carrusel */
#slider-image-1 {
    /* border: 2px solid red; */
    object-position: 35% center;
}

#slider-image-2 {
    /* border: 2px solid blue; */
    object-position: 30% center;
}

#slider-image-3 {
    /* border: 2px solid green; */
    object-position: center;
}

#slider-image-4 {
    /* border: 2px solid orange; */
    object-position: center;
}

#slider-image-5 {
    /* border: 2px solid purple; */
    object-position: 70% center;
}

@media screen and (min-width: 1024px) {
    #slider-image-2 {
        object-position: center 45%;
        /* Mover hacia abajo un 20% */
    }

    #slider-image-3 {
        object-position: center 25%;
        /* Mover hacia abajo un 20% */
    }
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        top: 55%;
        left: 10%;
    }

    .slider .list .item .content .read-more {
        /* Margen izquierdo más pequeño para pantallas pequeñas */
        margin-left: 10px;
    }
}