/* styles.css */
.footer {
    background-color: #1f2025;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-icon ul,
.footer-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.icon-elem,
.menu-elem {
    margin: 0 10px;
}

.icon,
.menu-icon {
    color: rgb(143, 114, 81);
    font-size: 24px;
    transition: transform 0.5s; /* Transición de la propiedad transform */
}

.icon:hover,
.menu-icon:hover {
    transform: translateY(-5px); /* Desplazar el icono hacia arriba al estar en estado de :hover */
}

.text {
    color: #303238;
    text-align: center;
    margin: 0;
    font-size: 16px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .footer {
        padding: 10px;
    }
    .row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .icon,
    .menu-icon {
        font-size: 20px;
    }
    .text {
        font-size: 14px;
    }
}
